<center><h1> Welcome to Magazine App </h1></center>
<hr>
<center><p><strong> Create a New Book : </strong> <%= link_to "Create Book", new_book_path %> | 
<strong>View Books : </strong> <%= link_to "Books", books_path %></p></center>
<hr>